<h1>Best flats</h1>

<h2>Deter pour les best flats?</h2>

<a href="http://localhost:3000/index">Click here to see all flats</a><br>

<a href="http://localhost:3000/cities">Click here to see all cities</a>
